colors = {
  text: #333333,
  emphasis: #d60041
  food: #ab7829
  non_emphasis: #999
  data: #787878
  default: #ffffff
}

button()
  background: colors.emphasis
  color: colors.default

box_shadow()
  -webkit-box-shadow: inset -10px 0px 5px -6px;
  box-shadow: inset -5px 0px 5px -6px;

