doctype html
html
  head
    title Music Store
    link(rel='stylesheet', href="/stylesheets/application.css")
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")    
    
  body
    main
      block content
