include /_mixins

doctype html
html
  head
    title Sushi Website
    link(href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet")
    +stylesheet_link_tag("application")
    +javascript_include_tag("vendor/all")
    +javascript_include_tag("handlebars_templates")
  body
    #container
      header
        img(src="/images/logo.png")
        #cart
          div
            p Shopping Cart
            button(type="submit") 0 Items

      main
        block content

      footer
        p Learn more about Kendo UI® SPA at
          span  docs.telerik.com/kendo-ui.
        p Copyright © 2016, Progress Software Corporation and/or its subsidiaries or affiliates. All Rights Reserved.

      +javascript_include_tag("application") 
      +javascript_include_tag("models/food_item")
      +javascript_include_tag("collections/food_items")
      +javascript_include_tag("collections/cart_items")
      +javascript_include_tag("views/food_item")
      +javascript_include_tag("views/menu")
      +javascript_include_tag("views/cart")
      +javascript_include_tag("views/index")
      script(type="text/javascript").
        App.food_items = new FoodItems(!{JSON.stringify(food_items)});      
      +javascript_include_tag("router")
      block scripts