@import "whitespace-reset.css";
#header #search_input_placeholder {
  height: 32px;
  width: 182px;
  box-sizing: border-box;
}
#header #search_input_placeholder i {
  float: right;
  line-height: 32px;
  font-size: 18px;
  padding-right: 4px;
}
#header div {
  display: inline-block;
}
#header img {
  width: 25px;
  height: 25px;
}
#header #board_info {
  width: 33%;
  float: left;
}
#header .logo {
  margin: 0 auto;
  text-align: center;
}
#header .logo span {
  text-align: center;
}
#header .logo span img {
  width: 76px;
  height: 26px;
}
#header #account_info {
  width: 33%;
  float: right;
  text-align: right;
}
#board_nav {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  padding: 8px 4px 8px 8px;
}
#board_nav h1,
#board_nav div {
  display: inline-block;
}
#board_nav img {
  width: 25px;
  height: 25px;
}
#board_nav #board_info {
  float: left;
}
#board_nav #open_board_menu {
  float: right;
}
#board_nav #open_board_menu a {
  color: #fff;
}
.list_header h3,
.list_header span {
  display: inline-block;
  color: #4d4d4d;
  padding: 10px;
}
.list_header span {
  float: right;
  padding: 4px;
  width: 26px;
  height: 26px;
}
.list_header span:hover {
  cursor: default;
}
ul.list_container {
  min-height: 10px;
}
li {
  background: #fff;
  padding: 6px 6px 2px 8px;
  margin: 8px;
  border-radius: 4px;
}
li a {
  text-decoration: none;
}
.add_card {
  margin-top: 10px;
  padding: 10px;
}
#add_list_input {
  display: inline-block;
  margin: 0 8px;
  vertical-align: top;
}
#add_list_input input {
  border-radius: 4px;
  padding: 7px;
  width: 248px;
  height: 18px;
  color: rgba(255,255,255,0.7);
  background: rgba(0,0,0,0.1);
}
#add_list_input input:hover {
  background: rgba(0,0,0,0.2);
}
.wrapper.list {
  flex-grow: 1;
  min-width: 270px;
  max-width: 270px;
}
.ui-sortable-placeholder {
  background: rgba(0,0,0,0.2);
  min-width: 270px;
  max-width: 270px;
  margin-left: 8px;
}
.edit_card_menu .wrapper {
  width: 730px;
  height: 604px;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 80px;
}
.edit_card_menu .wrapper .card_action_menu {
  float: right;
  padding: 8px 12px 12px 0;
  width: 140px;
  height: 499px;
}
.edit_card_menu .wrapper .card_action_menu a div {
  width: 124px;
  height: 18px;
  padding: 7px;
  border: 1px solid #808080;
}
.edit_card_popup.wrapper {
  width: 300px;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 0;
}
span.card_label {
  width: 240px;
  height: 34px;
  display: block;
}
span.card_label:hover {
  cursor: pointer;
}
div#board_menu_wrapper {
  width: 340px;
  position: fixed;
  top: 41px;
  right: -340px;
  border-radius: 0px;
}
div#board_menu_wrapper .activity {
  border-bottom: 1px solid #e2e4e6;
  padding: 10px 0;
}
div#board_menu_wrapper hr {
  height: 1px;
  background: #d6dadc;
  margin: 12px 0;
}
html,
input {
  font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #0079bf;
  color: #fff;
}
input {
  border: none;
}
a {
  cursor: pointer;
}
h1 {
  font-size: 18px;
  font-weight: bold;
}
h3 {
  font-weight: bold;
}
div {
  border-radius: 4px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: rgba(0,0,0,0.15);
}
header #board_info div {
  background: rgba(255,255,255,0.3);
  border-radius: 4px;
}
.wrapper {
  background: #e2e4e6;
  color: #4d4d4d;
}
.wrapper .interior {
  background: #fff;
}
a.menu_button div {
  background: #fff;
  border: 1px solid #e2e4e6;
}
a.menu_button div:hover {
  background: #298fca;
  border-color: #298fee #298fca #026aa7;
}
.invisible {
  display: none;
}
.list {
  width: 300px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background: rgba(0,0,0,0.6);
}
#full_board {
  height: 100vh;
}
#board_canvas {
  margin-top: 86px;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
span.label_green {
  background: #61bd4f;
}
span.label_yellow {
  background: #f2d600;
}
span.label_orange {
  background: #ffab4a;
}
span.label_red {
  background: #eb5a46;
}
span.label_purple {
  background: #c377e0;
}
span.label_blue {
  background: #0079bf;
}
span.label_teal {
  background: #00c2e0;
}
span.label_lime {
  background: #51e898;
}
span.label_pink {
  background: #ff80ce;
}
span.label_black {
  background: #4d4d4d;
}
span.label_none {
  background: #b6bbbf;
}
