@import "whitespace-reset.css"
@import "mixins"
@import "header"
@import "board_top"
@import "list"
@import "edit_card"
@import "board_menu"

html, input
  font: 14px "Helvetica Neue", Arial, Helvetica,sans-serif
  background: colors.primary.bg
  color: colors.primary.default
  overflow-y: hidden

body
  line-height: 18px

input
  border: none
a
  cursor: pointer

h1
  font-size: 18px
  font-weight: bold

h3
  font-weight: bold

div
  border-radius: 4px

textarea
  transition: background 85ms ease-in,border-color 85ms ease-in
  -webkit-transition: background 85ms ease-in,border-color 85ms ease-in
  border-radius: 3px

header
  top_fixed()
  height: 40px
  background: colors.primary.dark_bg
  #board_info
    div
      background: colors.primary.light_bg
      border-radius: 4px

#board
  position: relative

.wrapper
  background: colors.secondary.bg
  color: colors.secondary.color
  .interior
    background: colors.primary.default

a.menu_button
  div
    background: colors.primary.default
    border: 1px solid colors.secondary.detail    
    &:hover
      background: #298FCA
      border-color: #298FEE #298FCA #026AA7

.invisible
  display: none

.list
  width: 300px
  display: inline-block
  margin-left: 10px
  vertical-align: top

.modal
  top_fixed()
  bottom: 0
  z-index: 9
  background: rgba(0,0,0,0.6)

#full_board
  height: 100vh

#board_canvas
  display: flex
  display: -webkit-flex
  -webkit-flex-direction: row
  flex-direction: row
  -webkit-flex-wrap: nowrap
  flex-wrap: nowrap
  -webkit-align-items: flex-start
  align-items: flex-start
  position: relative
  top: 100px

.icon-ellipses
  float: right
  font-weight: normal

span.label_green
  background: colors.labels.green
span.label_yellow
  background: colors.labels.yellow
span.label_orange
  background: colors.labels.orange
span.label_red
  background: colors.labels.red
span.label_purple
  background: colors.labels.purple
span.label_blue
  background: colors.labels.blue
span.label_teal
  background: colors.labels.teal
span.label_lime
  background: colors.labels.lime
span.label_pink
  background: colors.labels.pink    
span.label_black
  background: colors.labels.black
span.label_none
  background: colors.labels.none
