#board_nav
  padding: 8px 4px 8px 8px
  h1, div
    display: inline-block
  img
    width: 25px
    height: 25px
  #board_info
    float: left
  #toggle_board_menu
    float: right
    a
      color: colors.primary.default