div#board_menu_wrapper
  width: 340px
  right: -340px
  border-radius: 0px
  .activity
    border-bottom: 1px solid #E2E4E6
    padding: 10px 0
  hr
    height: 1px
    background: #D6DADC
    margin: 12px 0