#board_nav
  position: fixed
  top: 40px
  left: 0
  right: 0
  padding: 8px 4px 8px 8px
  h1, div
    display: inline-block
  img
    width: 25px
    height: 25px
  #board_info
    float: left
  #open_board_menu
    float: right
    a
      color: colors.primary.default