#board_nav
  -webkit-box-flex: 0
  color: colors.primary.default
  flex: none
  height: auto
  overflow: hidden
  padding: 8px 4px 8px 8px
  position: relative
  transition: padding .1s ease-in
  &:after
    display: table
    content: ""
    clear: both
  h1, div
    display: inline-block
  img
    width: 25px
    height: 25px
  #board_info
    float: left
  #open_board_menu
    float: right
   a
    color: colors.primary.default   

.logo
  width: 33%

#account_info
  height: 30px
  #profile_settings
    color: colors.primary.default
    background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%)
    span
      margin: 10px 8px
      line-height: 30px