.edit_card_menu
  .wrapper
    width: 730px
    height: 604px
    margin: 0 auto
    margin-top: 48px
    margin-bottom: 80px
    .card_action_menu
      float: right
      padding: 8px 12px 12px 0
      width: 140px
      height: 499px
      a
        div
          width: 124px
          height: 18px
          padding: 7px
          border: 1px solid grey

.edit_card_popup.wrapper
  width: 300px
  background: colors.primary.default
  padding: 10px
  box-sizing: border-box
  margin-top: 0

span.card_label
  width: 240px
  height: 34px
  display: block
  &:hover
    cursor: pointer

