#header
  height: 30px
  position: relative
  -webkit-box-flex: 0
  flex: none
  #search_input_placeholder
    height: 32px;
    width: 182px;
    box-sizing: border-box;
    i
      float: right;
      line-height: 32px;
      font-size: 18px;
      padding-right: 4px;
  div
    display: inline-block
  img
    width: 25px
    height: 25px
  #board_info
    width: 33%
    float: left
  .logo
    margin: 0 auto;
    text-align: center
    span
      text-align: center
      img
        width: 76px
        height: 26px
  #account_info
    width: 33%
    float: right
    text-align: right

#search_input_wrapper.invisible
  display: none