#header
  height: 30px
  padding: 5px
  position: relative
  -webkit-box-flex: 0
  flex: none
  div
    display: inline-block
    color: white
  img
    width: 25px
    height: 25px
  #board_info
    width: 33%
    float: left
  .logo
    margin: 0 auto;
    text-align: center
    span
      text-align: center
      img
        width: 76px
        height: 26px
  #account_info
    width: 33%
    float: right
    text-align: right

#header
  background: colors.primary.dark_bg
  #board_info
    div
      background: colors.primary.light_bg
      border-radius: 3px    
    input
      background: transparent
      height: 30px

#search_input_list-wrapper
  color: colors.primary.default
  min-height: 300px;
  min-width: 300px;
  box-sizing: border-box;
  i
    float: right;
    line-height: 32px;
    font-size: 18px;
    padding-right: 4px;