colors = {
  primary: {
    bg: rgb(0, 121, 191)
    dark_bg: rgba(0,0,0,.15)
    light_bg: rgba(255,255,255,.3)
    default: #fff
    darkest: rgba(255,255,255,.7)
    secondary: rgba(255,255,255,.3)
  },
  secondary: {
    bg: #E2E4E6
    color: #4d4d4d
    secondary_color: #8c8c8c
    detail: #E2E4E6
    secondary_detail: #CDD2D4
  },
  labels: {
    green: #61BD4F
    yellow: #F2D600
    orange: #FFAB4A
    red: #EB5A46
    purple: #C377E0
    blue: #0079BF
    teal: #00C2E0
    lime: #51E898
    pink: #FF80CE
    black: #4d4d4d
    none: #B6BBBF
  }
}

top_fixed()
  position: fixed
  top: 0
  left: 0
  right: 0
