<div class="card_checklists">
  {{#each checklists}}
  <div>
    <h3>{{this.title}}</h3>
    <a href="">Delete...</a>
    {{#if this.todos}}
    {{#each todos}}
      <p class="checklist_todo">{{this.title}}</p>
    {{/each}}
    {{/if}}
    <a href="" class="add_checklist_todo_placeholder">Add an item...</a>
    <form action="" method="" placeholder="Add an item..." autocomplete="off" class="invisible card_add_todo_form">
      <input class="new_todo_name" name="title" autofocus>
      <div>
        <a href="" class="submit_new_checklist_todo submit_menu_info selected"><div>Add</div></a>
        <i class="icon-cancel"></i>
        <a href="" class="get_more_options"><span>...</span></a>
      </div>
    </form>    
  </div>
  {{/each}}
</div> 