<div class="add_card_composer">
<form action="/board/{{id}}/items", method="post" id="addCardForm">
  <input class="card" id="new_card_name" name="title" autofocus>
  <div>
    <a href="" class="submit_new_card"><div>Add</div>
    <span>X</span>
    <a href="" class="get_more_options"><span>...</span></a>
  </form>
</div>