<input type="text" class="add_list_placeholder add_button" placeholder="Add a list...">
<div class="wrapper invisible add_list_input_field">
  <form action="/board/lists", method="post" name="add_list_form">
    <input type="text" placeholder="Add a list..." id="add_list_name_input" name="title">
    <a href=""  id="add_new_list">
      <button type="submit">Save</button>
    </a>
    <a href=''>
      <div id="cancel_add_list">X</div>
    </a>
  </form>
</div>