<div class="wrapper">
  <form action="/board/lists", method="post">
    <input type="text" placeholder="Add a list..." id="new_list_name" name="title">
    <a href="">
      <button type="submit" id="add_new_list">Save</button>
    </a>
    <a href=''>
      <div id="cancel_add_list">X</div>
    </a>
  </form>
</div>