<div id="board_nav">
  <div id="board_settings">
    <h1>{{title}}</h1>
    <img src="/images/star.png" id="star">
    <div id="privacy_status">
      <span id="privacy"></span>
      <span>Private</span>
    </div>
  </div>
  <div id="open_board_menu">
    <span>...</span>
    <a href="#">Show Menu</a>
  </div>
</div>
<div id="board_canvas">
</div>
