<li>
  <p>Card Title Goes Here</p>
  <div class="card_icons">
  {{#if subscribe}}
  <span>subscribe</span>
  {{/if}}
  {{#if due_date}}

  {{/if}}
  {{#if description}}

  {{/if}}
  {{#if comments}}

  {{/if}}
  {{#if attachments}}

  {{/if}}
  {{#if checklist}}

  {{/if}}
  </div>
</li>