<a href="">
  <p>{{title}}</p>
  <div class="card_icons">
  {{#if subscribe}}
  <span><i class="icon-subscribe"></i></span>
  {{/if}}
<!--   {{#if due_date}}
  <i class="icon-duedate"></i>
  {{/if}} -->
  {{#if description}}
  <span><i class="icon-description" title="This card has a description."></i></span>
  {{/if}}
  {{#if comments}}
  <span><i class="icon-comment" title="Comments"></i>{{comments.length}}</span>
  {{/if}}
<!--   {{#if attachments}}
  <i class="icon-attachment"></i>
  {{/if}} -->
  {{#if checklist}}
  <span title="Checklist items"><i class="icon-checkbox"></i></span>
  {{/if}}
  </div>
</a>