<a href="">
  <p>{{title}}</p>
  <div class="card_icons">
  {{#if subscribe}}
  <span>s</span>
  {{/if}}
  {{#if due_date}}
  <span>dd</span>
  {{/if}}
  {{#if description}}
  <span>des</span>
  {{/if}}
  {{#if comments}}
  <span>com</span>
  {{/if}}
  {{#if attachments}}
  <span>att</span>
  {{/if}}
  {{#if checklist}}
  <span>cl</span>
  {{/if}}
  </div>
</a>