<div id="header">
  <div id="board_info">
    <div
  </div>
  <div>
    <span>
      <a href="#"><img src="/images/header-logo-2x.png"</a>
    </span>
  </div>
  <div id="account_info">
  </div>    
</div>