<a href="#"><div class="list_header">
  <h3>{{title}}</h3>
  <a href="" class="get_more_options"><span>...</span></a>
</div></a>
<ul class="list_container" data-id="{{id}}"></ul>
<a href="" class="add_card">Add a card...</a>