@import url("whitespace-reset.css");

header {
  background: #0B63BC;
  height: 500px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 26px;
  background: #ffffff;
  font-weight: 100;
  line-height: 120%;
  color: #06141D;
}

a {
  color: #2887C6;
  text-decoration: none;
}

/*old: 0B63BC*/

a:hover {
  text-decoration: underline;
}

img {
  padding-right: 20px;
}

header a {
  color: #ffffff;
}

header li {
  display: inline-block;
  font-size: 14px;
  z-index: 999;
}

header ul {
  padding: 10px 40px;
}

#social-media {
  position: absolute;
  top: 20px;
  right: 20px;
}

#social-media img {
  height: 25px;
  width: auto;
}

h1 {
  padding: 150px 0;
  text-align: center;
}

h1 img {
  height: 70px;
  width: auto;
}

h2, h3 {
  color: #2887C6;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
}

h3 {
  font-weight: 600;
  font-size: 24px;
}

.speakers, .mc, .workshops, .sponsors, .news, #venue-description {
  max-width: 900px;
  margin: 0 auto 80px auto;
}

.venue {
  margin: 0 auto 80px auto;
}
/*
.speakers li figure {
  float: left;
  width: 50%;
  box-sizing: border-box;
}*/

figure img {
  float: left;
}

figcaption {
  float: right;
}

.speakers li img,
.mc img {
  height: auto;
  width: 125px;
  float: left;
}

.speakers:after,
.mc figure:after, 
.workshops figure:after {
  display: block;
  content: "";
  clear: both;
  line-height: 0;
}

.speakers li img,
.mc img, .workshops li img {
  height: auto;
  width: 125px;
  float: left;
}

.mc figure {
  margin: 0 auto;
}

.description {
  width: 600px;
  margin: 40px auto;
}

.workshops ul li {
  margin-bottom: 50px;
}

.workshops h3 {
  text-transform: none;
  font-size: 30px;
}

.workshops h4 {
  font-weight: 400;
}

.workshops p {
  margin-top: 25px;
}

.sponsors table {
  width: 800px;
  margin: 0 auto;
}

.sponsors table td {
  text-align: center;
}

.sponsors ul img {
  display: block;
  margin: 0 auto;
}

.container {
  width: 100%;
  height: 320px;
  overflow: hidden
}

.venue .container img {
  width: 100%;
}


footer {
  font-size: 12px;
  text-align: center;
  margin-bottom: 20px;
}

footer li {
  display: inline-block;
}

footer li + li:before {
  content: "| ";
}

/* Headers with triangles */

.left-triangles,
.right-triangles {
  width: 0;
  height: 0;
  border-top: 50px solid rgba(172, 206, 240, 0.17);  
  border-right: 50px solid rgba(172, 206, 240, 0.37);
  border-bottom: 50px solid rgba(172, 206, 240, 0.17);
  border-left: 50px solid rgba(172, 206, 240, 0.77);     
}

.left-triangles {
  border-top: 50px solid transparent;  
  border-right: 50px solid transparent;
}

.right-triangles {  
  border-bottom: 50px solid transparent;
  border-left: 50px solid transparent;     
}

.center-wrapper div {
  display: inline-block;
  vertical-align: middle;
}

.section-header .center-wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.section-header {
  margin-bottom: 40px;
}
/* End of Headers with triangles */

.mc figure {
  padding-left: 182px;
}

figcaption p a {
  color: red;
  font-size: 20px;
  font-weight: 600;
}

span.twitter a {
  color: #ACB5BD;
  font-weight: 100;
  text-transform: lowercase;
}

header nav ul li:first-child {
  border: 1px solid white;
}