@import url("whitespace-reset.css");

header {
  height: 500px;
  background-image: url("images/header.jpg");
  background-position: 0 -400px;
  position: relative;
}

/*header:after {
  position: absolute;
  content = "";
  z-index: 10;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(172, 206, 240, 0.17);
}
*/
.layer {
  position: absolute;
  content = "";
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.layer:hover {
  background: rgba(172, 206, 240, 0.17);
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 26px;
  background: #ffffff;
  font-weight: 100;
  line-height: 120%;
  color: #06141D;
}

a {
  color: #2887C6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  padding-right: 20px;
}

header a {
  color: #ffffff;
}

header li {
  display: inline-block;
  font-size: 14px;
  z-index: 999;
  margin-right: 25px;
}

#alt_menu {
  height: 25px;
  width: auto;
  display: none;
}

header nav {
  position: absolute;
  margin-right: 150px;
}

header ul {
  padding-top: 20px;
}

header nav ul {
  text-align: center;
  width: 100%;
  margin-right: 150px;
}

header nav ul li {
  vertical-align: middle;
}

header div div {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
}

#social-media img {
  height: 25px;
  width: auto;
  display: inline-block;
  vertical-align: middle;

}

h1 {
  padding: 100px 0;
  text-align: center;
  height: 220px;
  font-size: 38px;
  color: #ffffff;
}

h1 .yellow {
  color: #FFE40D;
}

h1 img {
  height: 100px;
  width: auto;
  vertical-align: middle
}

h2, h3 {
  color: #2887C6;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
}

h3 {
  font-weight: 600;
  font-size: 24px;
}

.speakers, .mc, .sponsors, .news, #venue-description {
  max-width: 982px;
  margin: 0 auto 80px auto;
}

.venue {
  margin: 0 auto 80px auto;
}

figure {
  position: relative;
}

figure img {
  width: 125px;
}

figure:after {
  clear: both;
  content: '';
  display: block;
  line-height: 0;
}

figcaption {
  margin-left: 145px;
  padding-right: 15px;
  box-sizing: border-box;
}

figcaption p a {
  color: red;
  font-size: 20px;
  font-weight: 600;
}

.speakers li {
  width: 48%;
  display: inline-block;
  float: left;
  margin-bottom: 75px;
}

.speakers li:nth-of-type(2n) {
  margin-left: 4%;
}

.speakers:after,
.mc figure:after, 
.workshops figure:after {
  display: block;
  content: "";
  clear: both;
  line-height: 0;
} 

.speakers li img,
.mc img, .workshops li img {
  height: auto;
  width: 120px;
  float: left;
}

.mc figure {
  margin: 0 auto;
  padding-left: 228px;
}

.description {
  width: 540px;
  margin: 40px auto;
  line-height: 150%;
  font-size: 28px;
  text-align: center;
}

.workshops, #venue-description {
  max-width: 982px;
  margin: 0 auto 80px auto;
}

.workshops ul li {
  margin-bottom: 50px;
}

.workshops h3,
.news h3,
.venue h3 {
  text-transform: none;
  font-size: 30px;
  line-height: 125%;
}

.workshops h4 {
  font-weight: 400;
}

.workshops p {
  margin-top: 25px;
}

/*.news dd {
  margin: 20px 0;
  font-size: 24px;
}*/

.news dd + dd {
  font-size: 24px;  
  margin: 20px 0 50px 0;
}

time {
  font-size: 18px;
  margin: 10px 0;
  color: #adadad;
}

.sponsors table {
  width: 800px;
  margin: 0 auto;
}

.sponsors table img {
  width: 200px;
  height: auto;
}

.sponsors table td {
  text-align: center;
}

.sponsors ul img {
  display: block;
  margin: 10px auto;
  max-height: 250px;
  max-width: 500px;
}

.container {
  width: 100%;
  height: 320px;
  overflow: hidden
}

.venue .container img {
  width: 100%;
}

.venue p {
  padding: 20px 0;
}

#venue-description {
  margin-top: 40px;
}

blockquote {
  border-left: 4px solid #2887C6;
  padding-left: 40px;
  font-style: italic;
}

#venue-description footer {
  text-align: right;
}

footer {
  font-size: 12px;
  text-align: center;
  margin-bottom: 20px;
}

footer li {
  display: inline-block;
}

footer li + li:before {
  content: "| ";
}

/* Headers with triangles */

.left-triangles,
.right-triangles {
  width: 0;
  height: 0;
  border-top: 40px solid rgba(172, 206, 240, 0.17);  
  border-right: 40px solid rgba(172, 206, 240, 0.37);
  border-bottom: 40px solid rgba(172, 206, 240, 0.17);
  border-left: 40px solid rgba(172, 206, 240, 0.77);     
}

.left-triangles {
  border-top: 40px solid transparent;  
  border-right: 40px solid transparent;
}

.right-triangles {  
  border-bottom: 40px solid transparent;
  border-left: 40px solid transparent;     
}

.center-wrapper div {
  display: inline-block;
  vertical-align: middle;
}

.section-header .center-wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.section-header {
  margin-bottom: 40px;
}
/* End of Headers with triangles */


span.twitter a {
  color: #ACB5BD;
  font-weight: 100;
  text-transform: lowercase;
}

header nav ul li:first-child {
  border: 1px solid white;
}

@media (max-width: 1024px) {
  nav ul li a {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  header nav {
    display: none;
  }

  #alt_menu img {
    display: block;
  }

  .description {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .speakers figcaption > h3 {
    font-size: 20px;
  }

  .twitter {
    font-size: 18px;
    display: block;
  }

  .speakers figcaption p > a {
   display: block;    
   font-size: 16px;
   line-height: 150%;
  }

  .left-triangles {
    float: left;
  }

  .right-triangles {
    float: right;
  }

  .center-wrapper:after {
    clear: both;
    display: block;
    content: '';
  }

  .speakers > ul > li {
    width: 100%;
    margin-left: 20px;
  }

  .speakers li:nth-of-type(2n) {
    margin-left: 20px;
  }

  .mc figure {
    margin: 0 auto;
    padding-left: 20px;
  }
}

@media (max-width: 480px) {
  .sponsors ul img {
    display: block;
    margin: 10px auto;
    max-height: 100px;
    max-width: 250px;
  }
}
