block content
  h1 Albums
  ul
    each album in default_board.data
      li
        img(src="#{album.cover}")
        h2= album.title
        p $#{album.price}
        a.button(href="#") Add to cart
