include /_mixins

doctype html
html
  head
    title Sushi Website
    link(href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet")
    +stylesheet_link_tag("application")
    +javascript_include_tag("vendor/all")
    +javascript_include_tag("handlebars_templates")
  body
    header

    main
      block content

    footer

      +javascript_include_tag("application") 
      +javascript_include_tag("models/card", "models/activity", "models/checklist_item", "models/comment", "models/user")
      +javascript_include_tag("collections/list", "collections/board", "collections/activities", "collections/comments")
      +javascript_include_tag("views/board", "views/card_list_item", "views/edit_card", "views/header", "views/list", "views/quick_edit_card")
      script(type="text/javascript").
        App.default_board = new FoodItems(!{JSON.stringify(food_items)});      
      +javascript_include_tag("router")
      block scripts