@import "whitespace-reset.css";
body {
  font: normal 16px Helvetica, Arial, sans-serif;
  position: relative;
  min-width: 400px;
}
header {
  background: #464f77;
  width: 335px;
  float: left;
  color: #fff;
  position: absolute;
  min-height: 910px;
  height: 100%;
}
