application.js “glue”
 
Views
  -Board
  -List (Draggable)
  -List Actions
  -List Item
  -Card (Draggable)
  -Edit Card
  -Quick Edit Card
  -Side Menu
 
Models
  -Card
    -should add to activity when modified
  -List
  -Comment
  -Checklist
  -User
 
Collections
  -List
  -Board (includes lists, users)
  -Checklist
 
Events
  -Create List
  -Edit List
  -Rename List title on click
  -Copy List
  -Move List
  -Archive List
  -Archive all Cards in List
  -Search
  -Filter cards by various criteria
  -Show menu (slides in and out of view of right side of screen. Maybe have it as an html element that’s just out of sight)
 
 
  -Create Card
  -Edit Card
  -Copy Card
  -Move Card
  -Drag and drop to move card (both list collections must update)
  -Edit Card
  -Destroy Card
  -Archive Card
  -Apply labels (give label div title)
  -Add comment
  -Edit Comment
  -Delete comment
  -Add due date
  -Add an attachment (optional)
  -add a checklist
 
  -Subscribe to Notifications
  -Notify on change
 
Routes
  -pushState for cards
 
Publish & Subscribe relationships
P: Card, S: ListItem view
  
HTML
  -Header and Subheader are fluid, floated divs
  -Lists are static
  -Drag and drop lists
 
ul
  -Lists on board (inline block)
  -List items (block)
  -Checklist (block)
 
Handlebars
Activity
 
 
CSS
-one media size modification
-bg color modifiable by user
  -Max height on list is set to viewport